<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Bỏ maxSdkVersion đi -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Giữ nguyên quyền media playback -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".models.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fireturn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fireturn"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"

        android:theme="@style/Theme.Spotify">
        <service
            android:name=".Service.MusicService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>